body {
  background-color: #A09EF0;
  color: white !important;
}

  .darkMode {
    background-color: #2A2C2E;
  }

a {
  text-decoration: none;
  color: inherit;
}
  a:hover {
    color:inherit
  }

.App-scrollLock {
  overflow: hidden;
}

.App-backImg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #5C5DB8;
}

.App-dropShadow {
  filter: drop-shadow(3px 4px 2px #474747);
}

.App-backMaxHeight {
  height: 100vh;
}

.App-FlexCenter {
  display: flex;
  justify-content: center;
}

.App-TextCenter {
  text-align: center;
}

.App-zIndex-1 {
  z-index: 1;
}

.App-zIndex-2 {
  z-index: 2;
}

.App-PushBottomUp {
  padding-bottom: 5rem;
}

.App-Button {
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  border-style: none;
  border-radius: 3px;
}

.App-Button:hover {
  height: 2rem;
}

.backgroundImg-Home {
  background-image: url("./assets/production/background-img/home.jfif");
  min-height: 100vh;
}

.backgroundImg-Weekly {
  background-image: url("./assets/production/background-img/background-season20_Home.jpg");
  min-height: 100vh;
}

.backgroundImg-Activities {
  background-image: url("./assets/production/background-img/background-season20_Activities.jpg");
  min-height: 100vh;
}

.backgroundImg-XP {
  background-image: url("./assets/production/background-img/background-season20_XP.jpg");
  min-height: 100vh;
}

.backgroundImg-SeasonalReward {
  background-image: url("./assets/production/background-img/background-season20_SeasonalReward.jpg");
  min-height: 100vh;
}

.backgroundImg-Time {
  background-image: url("./assets/production/background-img/background-season20_Time.jpeg");
  min-height: 100vh;
}

  .App-backImg-1_1-light {
    background-image: url("./assets/production/background-img/backImg-1-light.jpg");
    min-height: 100vh;
  }
.App-backImg-1-dark {
  background-image: url("./assets/production/background-img/backImg-1-dark.jpg");
  min-height: 100vh;
}

body > iframe {
  pointer-events: none;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(212, 199, 199);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (min-width: 1000px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
}