.ChallengeCard-Container {
    width: min(100% - 2rem, 500px);
}


.ChallengeCard-Header {
    background-color: black;
    padding: 0.1px 0px 0px 0px;
    width: 100%;
}

.ChallengeCard-Body {
    width: min(100% - 3rem, 500px);
    margin: auto;
}

.ChallengeCard-Text {
    padding-left: 10px;
}

.ChallengeObjectives-Obj {
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
}

.ChallengeCard-Hide {
    display: none !important;
}

@media (max-width: 1000px) {
  .ChallengeCard-Container {
    width: min(100%, 1000px);
}
.ChallengeCard-Body {
    width: min(100% - 3rem, 1000px);
}
}