.FootNav-Wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4.4rem;
    z-index: 4;
    padding-bottom: 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.FootNav-Container {
    margin: auto;
    width: 84vw;
}

.FootNav-Body {
    background-color: var(--App-Main-Color-solid);
    color: black;
    border-radius: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0rem 1.6rem 0rem 1.6rem;
    height: 3.2rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.25rem 0.5rem 0px;
}

.FootNav-Button {
    background-color: var(--App-Secondary-Color-t1) !important;
    color: white !important;
    height: 75% !important;
}
    .FootNav-Button:hover {
        background-color: var(--App-Secondary-Color-solid)!important;
    }

/* DropUp Nav Menu */

.FootNav-DropUp-Container {
    z-index: -1;
    border-radius: 10px;
    position: relative;
    overflow-y: scroll;
    width: 100%;
    background-color: var(--App-Secondary-Color-t1);
    bottom: 25rem;
    height: 0;
    transform: translateY(100%);
    transition: transform 0.7s;
}


.FootNav-DropUp-ShowContainer {
    height: 24rem;
    /* transition: height 6s; */
    transform: translateY(0%);
    transition: transform 0.7s;
}

.FootNav-DropUp-Container::-webkit-scrollbar-track {
    background: transparent;
}

.FootNav-DropUp-Body {
    display: flex;
    flex-flow: column;
    width: 65%;
    margin: auto;
    margin-bottom: 3rem;
}

.FootNav-DropUp-Button {
    margin-top: 0.8rem !important;
    color: white !important;
    background-color: var(--App-Main-Color-t1) !important;
    text-decoration: none;
    text-align: center;
}

.FootNav-DropUp-Button:hover {
    color: var(--App-Highlight-One) !important
}

/* Info Menu */

.FootNav-Info-ShowContainer {
    height: 34rem;
    /* transition: height 6s; */
    transform: translateY(-30%);
    transition: transform 0.7s;
}

.FootNav-Info-Body {
    display: flex;
    flex-flow: column;
    width: 65%;
    margin: auto;
    margin-top: 1.8rem;
}

.FootNav-Info-SupportImg {
    margin-top: 1rem;
    width: 60%;
    border-radius: 20px;
}

.FootNav-Info-SupportImgPies {
    width: 60%;
    border-radius: 10px;
}

/* Contact Cards */

.FootNav-ContactCards-container {
    border-radius: 20%;
    background-color: var(--App-Main-Color-solid);
    /* padding: 1em; */
    margin: 0.8rem;
    width: 1.8rem;
    height: 1.8rem;
    /* margin-right: 4vw; */
}

.FootNav-ContactCards-img {
    height: 100%;
    padding: 0.3rem;
}


@media only screen and (min-width: 700px) {
    .FootNav-Container {
        max-width: 480px;

    }
}