.ChallengeCategory-Container {
    width: min(100% - 2rem, 1000px);
    margin-inline: auto;
    padding-top: 3.2rem;
    text-shadow: 0.5px 0.5px #000000;
}

.ChallengeCategory-Header {
    background-color: var(--App-Secondary-Color-t1);
    display: flex;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.ChallengeCategory-Title {
    width: 75%;
    text-align: center;
    flex-flow: column;
}

.ChallengeCategory-Body {
    background-color: var(--App-Secondary-Color-t2);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* Togglers */

.HideCompleted {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px; 
    margin-top: 0.6rem;
    margin-left: 0.6rem;
}

.HideCompleted input {
    opacity: 0;
    width: 0;
    height: 0; 
}

.HideCompleted-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
}
    .HideCompleted-slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        top: .1rem;
        background-color: #383838;
        background-image: url('../../assets/production/moonIcon.svg');
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-transition: .4s;
        transition: .4s;
    }
        input:checked + .HideCompleted-slider {
            background-color: #a5a5a5;
        }

        input:focus + .HideCompleted-slider {
            box-shadow: 0 0 1px #a5a5a5;
        }

        input:checked + .HideCompleted-slider:before {
        -webkit-transform: translateX(85%);
        -ms-transform: translateX(85%);
        transform: translateX(85%);
        background-color: red;
        background-image: url('../../assets/production/sunIcon.svg');
        }
    .HideCompleted-slider.HideCompleted-round {
        border-radius: 34px;
    }

    .HideCompleted-slider.HideCompleted-round:before {
        border-radius: 50%;
    }

    @media only screen and (max-width: 560px) {
        input:checked + .HideCompleted-slider:before {
            -webkit-transform: translateX(60%);
            -ms-transform: translateX(60%);
            transform: translateX(60%);
            }
      }