.ChallengeCategory-Container {
    background-color: rgba(182, 182, 182, 0.8);
    width: min(100% - 2rem, 600px);
    margin-inline: auto;
}

.Challenge-Header {
    background-color: black;
    padding: 0.1px 0px 0px 0px;
}

.Challenge-Text {
    padding-left: 10px;
}

.ChallengeObjective-Obj {
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
}